* {
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

header a {
  text-decoration: none;
}

.logo-font {
  font-family: "League Spartan", sans-serif;
}
.logo-fs {
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
}

.main-header {
  align-content: center;
  padding: 15px 0px;
}
.title-wrapper {
  position: relative;
  display: flex;
}
.title-wrapper h2:first-of-type {
  font-weight: 800;
  color: #2f2f2f;
}

.title-wrapper h2:nth-child(2) {
  font-weight: 400;
  color: #2f2f2f;
  font-size: 25px;
}

.site-wrapper {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

.nav-wrapper {
  display: contents;
  justify-content: right;
  align-items: center;
  font-weight: 500;
}

.b-nav:hover {
  background-color: #2f2f2f;
  transform: scale(1.1);
}
.logo-font:hover {
  color: white;
}
.logo-font {
  color: #2f2f2f;
}
.b-nav {
  margin-right: 38px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.main-nav {
  display: flex;
}

.main-menu-btn {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
}

.main-menu-btn {
  display: none;
}

.sub-menu-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  align-items: center;
}

.comp-wrapper {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .comp-wrapper {
    display: none;
  }

  .main-menu-btn {
    display: block;
  }
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.wrapper {
  width: 100%;
  max-width: 1400px;
}

.main-menu-btn {
  align-items: center;
}

.main-site,
.site-wrapper {
  margin: 0px 40px;
  padding: 0px 15px;
}
.site-nxt {
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 20px;
  display: grid;
}
.home-bar {
  color: #2f2f2f;
}

.home:hover {
  background-color: #2f2f2f;
  color: white;
}
.main-mobile {
  width: 200px;
  background-color: var(--color-bg-main-mobile);
  height: 299px;
  position: absolute;
  right: 0px;
  display: none;
}

.open .main-mobile {
  display: block;
}

.mobile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: -webkit-fill-available;
  color: var(--color-text-main-mobile);
}

.main-sub-wrapper {
  background-color: #ffffff;
}

.main-site,
.site-wrapper {
  margin-left: auto;
  margin-right: auto;
}

:root {
  --color-dark: #2f2f2f;
  --color-bg-white: ;
  --color-bg-main-mobile: #6b6f74;
  --color-text-main-mobile: #f3f8f4;
}

/* Hero Section */
.hero-main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 1.455), rgba(0, 0, 0, 0.411)),
    url("../assets/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-wrapper {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info h3,
.info h2,
.info p {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
.info p b,
.info button {
  font-weight: 900;
}

.text-hero {
  display: flex;
  letter-spacing: 0.1em;
}
.text-hero-mody {
  display: block;
}
.text-hero h1:nth-child(1) {
  font-size: 7rem;
  color: white;
  margin-right: 20px;
}
.text-hero h1:nth-child(2) {
  font-size: 7rem;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px #fff;
}
.info {
  text-align: center;
}

.info h2,
.info h3,
.info p {
  margin: 20px 0;
}

.info button {
  width: 10rem;
  height: 3rem;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
  background-color: white;
  color: #2f2f2f;
  transform: scale(1.1);
}

/* Skill Page */
.skills-wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.skill-main-des {
  height: 100%;
  display: grid;
  justify-content: space-evenly;
}
.title-skill {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.title-skill h2,
.form h2 {
  color: #333;
  font-weight: 800;
}
.title-skill h2,
.title-skill p,
.form h2 {
  margin-bottom: 2rem;
}
.title-skill p,
.sub-detail p,
.status-skill h3,
.status-skill p,
.detail-text p,
.min,
.details span,
.detailed span {
  font-size: 1em;
  color: #666;
}

.main-skill-wrapper {
  display: flex;
  align-items: center;

  margin-left: 2rem;
  margin-right: 2rem;
  height: 300px;
  justify-content: center;
  margin-bottom: auto;
  color: #2f2f2f;
}
.detail-main {
  gap: 30px;
}
.sub-detail {
  display: inline-block;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
  text-align: left;
  width: 400px;
  transition: background-color 0.3s, color 0.3s;
}

.sub-detail h2 {
  font-weight: 800;
  margin-bottom: 10px;
}
.detail-main {
  display: flex;
}

/* Skill Main */
.skills-main {
  display: flex;
  place-content: space-between;
}

.status-skill {
  width: 40%;
  text-align: left;
}
.status-skill h3,
.information-text h3 {
  font-weight: 300;
  font-size: 1rem;
}
.status-skill h2 {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 30px;
  line-height: 1.3;
}

.skill {
  margin-bottom: 15px;
}
.detail-skill {
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}
.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 15px;
}

.progress {
  background-color: #2f2f2f;
  height: 100%;
  text-align: center;
  line-height: 20px;
  transition: width 0.5s;
}

.stat-skill {
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

/* Personal Information*/

.personal-wrapper {
  display: flex;
  place-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.personal-wrapper aside {
  width: 40%;
  height: 600px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.personal-wrapper aside img {
  width: 100%;
  height: auto;
}

.information-text {
  width: 50%;
}

.information-text h2 {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 30px;
  line-height: 1.3;
}

.detail-text {
  display: grid;
  height: 30%;
  margin-bottom: 30px;
}

.per-information {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* 3 equal columns */

  gap: 20px; /* Space between grid items */
}

.detail {
  display: grid;
}

.desc {
  font-weight: 800;
  margin-bottom: 0.5rem;
}

/* Contact Page */

.contact-info {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 5rem;
  justify-content: space-evenly;
  display: grid;
}

.section-detail {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.details {
  display: flex;
}

.details {
  display: grid;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: 150px;
  align-items: center;
}
.details h2 {
  font-weight: 800;
}
.details h3 {
  font-weight: 800;
}

.form {
  width: 80%;
}
.form-section {
  justify-items: center;
}
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: flex;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

input[type="text"],
input[type="email"],
textarea {
  height: 2.5rem;
  width: 100%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  font-size: 1em;
}

textarea {
  resize: none;
  height: 250px;
}

.btn-des {
  width: 10rem;
  height: 3rem;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2f2f2f;
  color: #fff;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-weight: 900;
}

.btn-des:hover {
  border: 2px solid 2f2f2f;
}

/* Footer */

.page-footer {
  background-color: #2f2f2f;
  color: #fff;
  justify-content: center;
  display: flex;

  height: 5rem;

  align-items: center;
}
.page-footer h2 {
  font-weight: 400;
}

/* Feature Page */

.logo {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 10px;
}
.logo-ft {
  max-width: 230px;

  object-fit: cover;
}

.feature-wrapper {
  display: flex;
  place-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100vh;
}
.feature-wrapper aside {
  place-content: space-evenly;
  width: 20%;
  /* height: 650px; */
  overflow: hidden;
  justify-items: center;
  display: block;
  align-content: space-between;
}
.order {
  display: block;
  justify-content: space-between;
  width: 70%;
}
.order-lay {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 5px;
  /* text-align: left; */
  width: 200px;
  height: 550px;
  /* height: max-content; */
  align-items: center;
  place-content: space-between;
}

.product-display {
  display: flex;
  justify-content: space-between;
}
.add-cart {
  height: 500px;
  align-items: flex-start;
}

.order-lay img {
  max-width: 200px;
  height: 200px;
  object-fit: cover;
}
.detailed {
  padding: 20px 15px;
}
.detailed h3 {
  font-weight: 800;
  line-height: 1;
  margin-bottom: 10px;
}
.order-nav:hover {
  background-color: #2f2f2f;
  color: white;
  transform: scale(1.1);
}
.cont {
  margin-top: 10px;
}

.order-nav {
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #2f2f2f;
  background-color: transparent;
}
.payment {
  font-size: 25px;
}

.product-aside {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  justify-items: center;
  padding: 10px 20px;
}
.cart-items {
  display: grid;
  gap: 5px;
  margin: 10px 0;
}

.btn-cart {
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #2f2f2f;
  background-color: transparent;
}
.cart-asi h2 {
  font-weight: 800;
}

.btn-cart:hover {
  background-color: #2f2f2f;
  color: white;
  transform: scale(1.1);
}
.detail-style {
  font-weight: 600;
}
.mini-x {
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #2f2f2f;
  background-color: transparent;
}

.mini-x:hover {
  background-color: #2f2f2f;
  color: white;
}

.money {
  width: max-content;
  display: flex;
}

.feature-info {
  width: max-content;
  display: flex;
}

.logo-ft-sub {
  max-width: 230px;
  /* height: 150px; */
  object-fit: cover;
}

.order-selected {
  height: 25%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  margin-bottom: 2rem;
  padding: 20px 30px;
  align-content: center;
  display: flex;
}

.section-ft {
  align-content: center;
  margin-left: 50px;
}
.section-ft h2,
.section-ft h3 {
  font-weight: 800;
}

.section-ft h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section-ft h3 {
  margin-bottom: 5px;
}

.section p {
  font-size: 1em;
  color: #666;
}
